<?php
/**
  * @var \App\View\AppView $this
  */
?>
<div class="clearfix inner bordertop">
<main class="left">

<div class="articles index large-9 medium-8 columns content">
    
    <ul class="breadcrumb">
      <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
        <a href="/c9fdo/tops" itemprop="url">
          <span itemprop="title"><i class="fa fa-home" aria-hidden="true"></i>不動産ドットコムTOP</span>
        </a>
      </li>
      <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
        <?php $i=$articles->first()->mid_categorie_id -1;echo '<a href= "/c9fdo/articles/categorieindex/' . $mid_large_list[$i] . '"' ?> itemprop="url">
          <span itemprop="title"><?= $large_categorie_list[$large_num] ?></span>
          
        </a>
      </li>
    </ul>
    
    
    <h2><i class="fa fa-search" aria-hidden="true"></i>「<?php if(is_null($num02)){
      echo $large_categorie_list[$large_num];
      }else{$f=$num02 -1;echo $large_categorie_list[$large_num] . "・" . $mid_categorie_list[$f];}; ?>」の相談</h2>
    <p class="p01">「<?php if(is_null($num02)){
      echo $large_categorie_list[$large_num];
      }else{$f=$num02 -1;echo $large_categorie_list[$large_num] . "・" . $mid_categorie_list[$f];}; ?>」に関する不動産相談です。</p>
    <p class="p02 bold"><?= $this->Paginator->counter(
    ['format' => __('{{count}} 件みつかりました {{start}} - {{end}} 件目')]) ?></p>
    
    <?php //echo print_r($kkk) ?>
    <ul>
      <?php foreach ($articles as $article): ?>
      
      <li class="articles_list">
          <div>
            <h3>
              <p class="i_question"><span>Q</span></p>
              <?= $this->Html->link($article->title, ['action' => 'view', $article->id]) ?>
            </h3>
          </div>
          <div class="paragraph bread">
            <?php $i=$article->mid_categorie_id - 1;$k=$mid_large_list[$i] - 1;
            echo $this->Html->link($large_categorie_list[$k], ['controller' => 'Articles', 'action' => 'categorieindex', $mid_large_list[$i]]) ?>
            &gt;
            <?php $e=$article->mid_categorie_id - 1;
            echo $this->Html->link($mid_categorie_list[$e], ['controller' => 'Articles', 'action' => 'categorieindex', "$mid_large_list[$i]","$article->mid_categorie_id"]) ?>
          </div>
          <p class="paragraph text"><?= h($article->body) ?></p>
          
          <p class="paragraph"><?= h($article->created) ?></p>
          
      </li>
      <?php endforeach; ?>
        <!--</tbody>-->
    </ul>
    
    <p><?= $this->Paginator->counter(
    ['format' => __('{{count}} 件みつかりました {{start}} - {{end}} 件目')]) ?></p>
    <div class="paginator">
      <?= $this->Paginator->first('<<'); ?>
      <?= $this->Paginator->prev('<'); ?>
      <?= $this->Paginator->numbers(); ?>
      <?= $this->Paginator->next('>'); ?>
      <?= $this->Paginator->last('>>'); ?>
    </div>
</div>
</main>
<!--<main class="left">-->