<?php
// var_dump($_POST);
// var_dump($user);
// var_dump($jjj);
// debug($this->modelClass);
// debug($this->userModel)
?><br>

<main>
        <div class="center">
            <h1 class="text-center">専門家としてログインする</h1>
            <div class="clearfix">
                <div class="left origin_login">
                    <?= $this->Form->create() ?>
                    <?= $this->Form->control('email',['type'=>'email','placeholder'=>'メールアドレス']) ?>
                    <?= $this->Form->control('password',['type'=>'password','placeholder'=>'パスワード']) ?>
                    <!--<?//= $this->Form->control('ログイン',['type'=>'submit','class'=>'center','value'=>'ログイン']) ?>-->
                    <?= $this->Form->control('ログイン',['type'=>'submit','class'=>'center','name'=>'prefix','value'=>'ログイン']) ?>
                    <?= $this->Form->end() ?>
                    
                    <ul>
                        <li><a href="">> メールアドレスをお忘れの方
                        </a></li>
                        <li><a href="">> パスワードをお忘れの方</a></li>
                        <li><a href="">> 不動産ドットコムIDをお忘れの方</a></li>
                    </ul>
                </div>
                <div class="right sns_login">
                    <ul>
                        <li><a href=""><img src="/c9fdo/img/under/fb_login.png" alt="Facebookでログイン"></a></li>
                        <li><a href=""><img src="/c9fdo/img/under/yahoo_login.png" alt="Yahoo!IDでログイン"></a></li>
                        <li><a href=""><img src="/c9fdo/img/under/twitter_login.png" alt="Twitterでログイン"></a></li>
                        <li><a href=""><img src="/c9fdo/img/under/line_login.png" alt="LINEでログイン"></a></li>
                    </ul>
                </div>
            </div>
            <!--<a href="/c9fdo/experts/register" class="expert_link text-center">不動産業者・専門家の方はこちら</a>-->
        </div>
        
    </main>