<!--<?php// var_dump($_POST) ?><br>-->
<!--<?php// debug($returnpage) ?>-->
<main>
        <div class="center under_construction">
            <h1 class="text-center">このページは製作中です。</h1>
            <div class="flex_center">
                <input type="button" onClick="location.href='<?= $pre_url; ?>'" value="前のページに戻る" class="btn_orange btn_color_gray margin_right10">
                <input type="button" onClick="location.href='/c9fdo/index'" value="トップページに戻る" class="btn_orange btn_color_gray">
                
            </div>
        </div>
        
    </main>