/* header.ctp */
.popupbtn {position: relative;}
.popupbtn .popup{border-radius: 3px;box-shadow: 0 0 3px 0 #ddd;position: absolute;background: #fff;padding: 10px;text-align: left;z-index:100;}
.popupbtn .popup .submenu{line-height: .75rem;}
.popupbtn .popup .submenu a{font-size: .75rem;}
.popupbtn .popup .submenu li{float: none;margin: 0;padding: 5px 0 5px 10px;border-bottom: 1px solid #eee;list-style: disc;}
.popupbtn .popup .logout{text-align: right;}
.popupbtn .popup .logout a{font-size: .75rem;}
.popup .popup:before .popup:after{position:absolute;content:"";display:inline-block}
.popup{width:130px;top:45px;right:-60px;border:2px solid #ddd}
.popup:before{right:70px}
.popup:after{right:69px}

.popup:before{border:4px solid transparent;width:0;height:0;z-index:-1;border-bottom:4px solid #fff;right:14px;top:-8px}
.popup:after{border:5px solid transparent;width:0;border-bottom:5px solid #ccc;right:13px;top:-10px}


/* /index.ctp */
.color_blue
{
  color: #005ebb!important;
}
.bordertop{border-top:1px solid #999;padding:1rem 0 0;}
.articles_list{list-style: none;padding:1rem 0;border-top:1px solid #999;}
.i_question{margin:0.1rem 0.3rem 0.1rem 0.1rem;background-color:#35b16f;border-radius: 50%;width: 1.4rem;height: 1.4rem;float:left;text-align: center;}
.i_question span{font-family: 'Raleway', sans-serif;font-weight:900;font-size: 1rem;color: #fff;line-height: 1.4;vertical-align: 0px;}
.articles_list a{color:#35b16f;}
.articles_list .paragraph{margin:0 0 0 1.9rem;font-size: 0.8rem;}
.articles_list .paragraph.bread{color:#35b16f;}
.articles_list .paragraph.text{margin:0.6rem 0 0.6rem 1.9rem;}

.p01{font-size:0.8rem;margin:1rem;}
.p02{font-size:0.9rem;margin:1rem 0;}

.breadcrumb {padding-left:0;margin:0 0 1rem;font-size: small;}
.breadcrumb li{display:inline;list-style: none;/*font-weight: bold;*/}
.breadcrumb li:after{content: '>';padding: 0 3px;color: #999;}
.breadcrumb li:last-child:after{content: '';}
.breadcrumb li a {text-decoration: none;color:#999;}
.breadcrumb li a:hover {text-decoration: underline;color: #000;}

.category_search .category_list>div:nth-child(12){height:220px;}

.paginator{width: 100%;display: inline-flex;justify-content:center;}
.paginator span{width: 2rem;height: 2rem;border:1px solid #ccc;margin:0.2rem;text-align: center;background:#eee;}
.paginator span a{color:#333;font-weight: bold;line-height: 2rem;display:block;}
/*.paginator span a{color: #333;background: #f3f3f3;font-size: 16px;display: block;padding: .6em 1em;border: 1px solid #ccc;}*/
.paginator span a:hover, .paginator span:hover, .paginator span.current{color: #fff;background: #f7931d;;font-weight: bold;line-height: 2rem;}
/*.paginator span a:hover, .paginator span.current{color: #fff;background: #f7931d;}*/
.paginate_result_num{margin:5px 0 5px 35px}
.category_search .category_list>div:nth-child(10) {border-color:#E0C617;}
.category_search .category_list>div:nth-child(11) {border-color:#e0871f;}
.category_search .category_list>div:nth-child(12){border-color:#17c7ba;}
.category_search .category_list>div:nth-child(13){border-color:#9e84d2;}
.category_search .category_list>div:nth-child(14) {border-color:#70c1ff;}
.category_search .category_list>div:nth-child(15) {border-color:#81c921;}
.category_search .category_list>div:nth-child(16) {border-color:#e0c40b;}
.category_search .category_list>div:nth-child(17) {border-color:#fd8e9e;}
.category_search .category_list>div:nth-child(18) {border-color:#0b927a;}
.category_search .category_list>div:last-child {border-color:#4678c3;}





/* aside */
.side_consultation div{position:relative;vertical-align: middle;height:44px;}
.added_icon_aside{position:absolute;top:0;left:0;}


/* inventory */

.added_icon{vertical-align: -2px;margin: 0 5px;position:relative;}
.clearfix .bold .p_normal{font-weight:normal;font-size:13px;color:#333;}


/* aside02.ctp */

/*.centering{width:90%;margin:0 auto;display:flex;justify-content:space-between;flex-wrap: nowrap;}*/
.prefectures{width:12rem;height:1.5rem;font-size: 0.8rem;border-radius: 0;margin:0 0 0 1rem;}
.small{width:4rem;height:1.5rem;font-size: 0.8rem;border-radius: 0;padding: 0;margin:0 0 0 1rem;}
.black{color:#000;}
.btn_special{
  font-size: 15px;
  padding: 16px 0;
  line-height: 1;
  display: block;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  border-radius: 4px;
  border: 0;
  color: #fff;
  font-weight: 700;
}
.orange{
  box-shadow: inset 1px 1px #f69400, inset 2px 2px #ffa51e, inset -1px -1px #dc7e09;
  background: linear-gradient(#ffa113,#ff8e08);
  text-shadow: 0 -1px 0 #e18807;
}
.green{
  box-shadow: inset 1px 1px #43b362, inset 2px 2px #5cc279, inset -1px -1px #43a359;
  background: linear-gradient(#59b97f,#12a565);
  text-shadow: 0 -1px 0 #30a050;
}

.category_search_l{border:1px solid #999;padding:0.4rem 1rem;margin:1rem;}
.category_search_l i{color:#35b16f;}
.category_search_l a{color:#35b16f;font-weight:bold;vertical-align: bottom;}
.category_search_mid {margin:0.5rem 0 0.5rem 2.3rem;}
.category_search_mid li{list-style:none;font-weight:bold;font-size: 0.8rem;color:#000;margin:0.5rem 0;}
.category_search_mid li a{color:#000;}



/* users/add */

.addset{position: absolute;top:21%;left:0;right:0;margin:0 auto;z-index: 10;width: 40%;/*background-color: rgba(200,0,0,0.2);*/}
.border{border-bottom:1px solid #999;width:30%;}


/* login */


.error{margin:0 auto 10px;padding:15px;}

/* answers/add */

/* questions/add */

.question_form_box table td .sample.answer:before{/*content:"";position:absolute;top:-24px;left:40px;margin-left:-15px;*/border:0px solid transparent;border-bottom:0px solid #f3f7f0;/*z-index:3*/}
.question_form_box table td .sample.answer{margin-top:0px;width:100%;}
.question_form_box table td .sample.answer:after{border:0px solid transparent;border-bottom:0px solid #f3f7f0;}

.category_select_heading{border-left:3px solid #fc6666;padding-left:10px;margin:15px 0;}
.category_select_heading .must{background: #fc6666;font-size: 10px;color: #fff;padding: 2px 4px;margin-left: 4px;vertical-align: 2px;}
div.category_select{display:flex;justify-content:space-around;width:100%!important;border:1px solid #ddd;margin:20px 0;padding:10px 30px;line-height:40px;}
.category_select select{height:40px;width:150px;border-radius: 5px;border:1px solid #ddd;padding:0 0 0 0.5rem;background-image:linear-gradient(#fff 30%, #f5f5f5 100%);background-image: -webkit-linear-gradient(#fff 30%, #f5f5f5 100%);cursor:pointer;}
.btn_color_gray{color:#000;border:2px solid #ddd;background-image:linear-gradient(#fff 30%, #f5f5f5 100%);background-image: -webkit-linear-gradient(#fff 30%, #f5f5f5 100%);}
.question_form_box table .check_title{border-left:3px solid #fc6666;padding-left:10px;}
.question_form_box table .check_contents .sample{padding:0px;background:none;border:none;}
.check_contents_table{table-layout:fixed;}
.check_contents_row{border-bottom:1px solid #ddd;}
.check_contents_row th{padding-top:15px;word-wrap:break-word;}
.question_form_box table .check_contents_row td{padding-top:15px;word-wrap:break-word;}
.flex_center{display:flex;justify-content:center;}
.select_notes, .category_select label{font-size:13px;}
.margin_right10{margin:0 10px 0 0;}
.post_complete{margin:60px 0;}
/*input[type="submit"],*/ .btn_orange{cursor:pointer;border-radius: 4px;padding: 10px 25px;}
.margin_v{margin:40px 0 70px;}
.post_complete_notes{border:2px solid #f7e395;padding:10px 25px;}
.post_complete_notes h3{font-size:18px;color:#f36c3d;line-height:32px;}
.post_complete_notes h3 .fa-check-circle{font-size:32px;margin:0 0.5rem 0 0;line-height:32px;vertical-align: sub;}
.post_complete_notes li{margin:0 0 10px 36px;}
.post_complete_notes p{line-height: 1.5;font-size: 80%;}

.question .question_box .account_name:before{margin-right:5px;content:url(../../img/under/man_49_s.png);vertical-align: -3px;}

.expert_answer .expert_answer_info {margin-bottom: 20px;}

/*under_construction*/

.login .under_construction{padding: 280px 65px 0;}
.under_construction .flex_center{margin:80px 0 0 0;}

/*search*/
.search_result_inventory{margin:10px 0;}



@media screen and (max-width:768px){
.inner .clearfix a .right{float:none;margin:0 auto;}
div.category_select{flex-direction:column;}
div.category_select div{margin:0.1rem auto;}
.margin_right10{margin:0 0 1rem;}
.flex_center{flex-direction:column;}
.login .under_construction{padding: 16vh 1rem;}
.login .under_construction .flex_center{margin:7vh 0 20vh;}
}